@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Body And Structure  */


body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}

/* ++++++++++++++++++++++++++++++ HEADER +++++++++++++++++++++++++++ */
header {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 50px;



}

header .title {
    width: 531px;
    padding: 100px 106px;

}

.title h1 {
    font-size: 70px;

}

.title p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 20px;

}

header .banner img {
    width: 750px;
    height: 700px;
    margin-top: 80px;
    margin-right: 150px;

}

.title {
    color: white;
}

.title button {
    margin-top: 12px;
    background-color: red;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 10px;
    transition: all .7s ease;
}

.title button a {
    text-decoration: none;
    color: white;
}

.title button:hover {
    background-color: rgb(10, 150, 168);
    cursor: pointer;
    font-size: 21px;

}

/* ========================================== HEADER END ================================ */

/*========= Side Bar ============ */


.side-bar {
    margin-top: 130px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.side-button1 {
    color: White;
    margin: 20px 20px;
    font-size: 20px;
    background-color: orangered;
    padding: 15px 50px;
    border-radius: 10px;
}


.side-button {
    color: black;
    margin: 20px 20px;
    font-size: 20px;
    background-color: white;
    padding: 15px 50px;
    border-radius: 10px;
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++ 
          Match Contents
+++++++++++++++++++++++++++++++++++++++ */
.container {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    margin-right: 140px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    margin-left: 100px
}

.blog {
    margin: 40px 80px;
    border: 1px solid rgb(211, 214, 216);
    text-align: center;
    box-shadow: 1px 1px 10px rgb(202, 199, 199);
}

.live-match {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    padding: 20px;
    margin-bottom: 2px;



}



.view {
    display: flex;
    justify-content: center;

}

.view-button button {
    display: none;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;


}

.view-button button a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

/*======================= Footer end ============================*/
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 130px;


}

footer h2 {
    font-size: 40px;
    padding-top: 130px;


}

.bottom {
    display: flex;
    justify-content: center;


}

footer hr {
    border: 1px solid white;
    margin-left: 140px;
    margin-right: 140px;
}

.bottom p {
    font-size: 16px;
    padding: 20px 30px;
}

.fa-linkedin-in {
    text-decoration: none;
    color: rgb(65, 65, 255);
    font-size: 20px;
    padding: 30px;
}

.fa-youtube {
    text-decoration: none;
    color: red;
    font-size: 20px;
    padding: 30px;
}

.fa-twitter {
    text-decoration: none;
    color: aqua;
    font-size: 20px;
    padding: 30px;
}



/*======================================== MEDIA QUERIES============================== */

/* Mobile Device */

@media only screen and (max-width: 688px) {


    header {
        display: flex;
        flex-direction: column;
        margin: 7px;
        padding: 0;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }

    header .title {
        margin: 10px;
        padding: 0;
        width: 100%;
    }

    .title h1 {
        font-size: 55px;
    }

    button {
        margin: 80px;

    }


    header .banner img {
        width: 100%;
    }

    .side-bar {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        background-color: white;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;

    }

    .blog {
        margin: 10px 0px;
    }

    .side-button {
        margin: 10px 0px;
    }

    .side-button1 {
        margin: 10px 0px;
    }

    footer .bottom {
        display: flex;
        flex-direction: column;
    }
}

/*============================================ Mobile-Tablet ====================================== */
@media only screen and (min-width:689px) and (max-width:992px) {
    header {
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        margin: 30px 10px;
        padding: 0;
        border-radius: 10px;
    }

    header .title {
        width: 100%;
        margin: 0px;

    }

    .title h1 {
        font-size: 45px;
    }

    header .banner img {
        width: 100%;
        margin: 0px;
    }

    .container {

        display: flex;
        flex-direction: column;

    }

    .side-bar {
        display: flex;
        flex-direction: row;
        background-color: white;
    }




    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 10px;
        margin: 0;
    }

    footer .bottom {
        display: flex;
        flex-wrap: wrap;

    }

    .view-button button {
        display: block;
    }
}